extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

block content
  //-start
  <nav class="navbar-container">
  <a href="homepage-link-here"><img src="https://cdn.discordapp.com/attachments/856636315927576608/859574573070680084/137.51.png" class="logo-small"></a>
  <input type="text" placeholder="Search.." name="search" class="search-bar-spot">
  <button type="submit" class="mag-icon"><i class="fa fa-search"></i></button>
  <button type="submit" class="log-out-button">logout</button>
  </nav>


  //-end


  //- h1= title
  //- p Welcome to your Project Skeleton
