extends layout

append head
  link(rel="stylesheet" href="/stylesheets/landing.css")

block content
  div(class='landing__outer-container')
    div(class='landing_logo'): img(src='https://github.com/jyih/pokeprobe/blob/main/public/images/pokeprobe-logo.png?raw=true')
    div(class='landing_dugonHD'): img(src='https://github.com/jyih/pokeprobe/blob/ji-local/public/images/dugonHD.png?raw=true' class='img-dugon')
    //- div(class='landing_pokeballHD'): img(src='https://github.com/jyih/pokeprobe/blob/ji-local/public/images/pokeballHD.png?raw=true')
    div(class='landing_description') Catch fusion Pokemon and share with your friends!
    a(class='button landing_enter' href='https://pokeprobe.herokuapp.com/home') Enter
    //- button(class='landing_enter') Enter

    //- div(class='landing__fusion-container')
    //-   div(class='img-fusion')
    //-     img(src="https://github.com/jyih/pokeprobe/blob/ji-local/public/images/porygon.png?raw=true" class='img-porygon')
    //-   div(class='img-fusion')
    //-     img(src="https://github.com/jyih/pokeprobe/blob/ji-local/public/images/dugtrio.png?raw=true" class='img-dugtrio')
      //- img(src="https://github.com/jyih/pokeprobe/blob/ji-local/public/images/dugonHD.png?raw=true" class='img-dugon')



//- append head
//-   //- add page specific styles by appending to the head
//-   link(rel="stylesheet" href="/stylesheets/index.css")
//-   //- add page specific js
//-   script(src="/javascripts/index.js" type="module" defer)

  //- h1= title
  //- p Welcome to your Project Skeleton
