doctype html
html
  head
      block head
        title="POKEPROBE"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/navbar.js" type="module")

        //-oswald font, regular 400
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  body

    nav(class="navbar-container")
      div(class="nav-links")
        a(href="/"): img(src='/images/dugon.png' class="logo-small")
        input(type="text" placeholder="Search..." name="search" class="search-bar-spot")
        button(class="mag-icon"): i(class="fa fa-search")
      div(class="nav-links")
        if locals.authenticated
          a(href="/fusion-pokemon") Catch
          a(href='/trainers/logout') Logout
        else
          span()
            a(href='/trainers/login') Login
            a(href='/trainers/signup') Register

  block content
