extends layout.pug
include utils.pug

append head
  script(src="/javascripts/pokemon-generate.js" type="module" defer)
  link(rel='stylesheet' href='/stylesheets/login-signup.css')


block content
  div
    img(id='pokemon-random-img' src='')
  div
    button(id='pokemon-release-button') Release
  div
    form(action='/fusion-pokemon' method='post')
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="hidden" name="pokedexId1" id="pokedexId1")
      input(type="hidden" name="pokedexId2" id="pokedexId2")
      +createFormField('text','nickname','Nickname')
      label(for="description") Description
      textarea(name="description")
      div
        button(id='pokemon-catch-button') Catch
