extends layout.pug 
include utils.pug

append head 
  script(src="/javascripts/pokemon-generate.js" type="module" defer)

block content
  div 
    img(id='pokemon-random-img' src='https://img.pokemondb.net/artwork/large/dewgong.jpg')
  div
    button(id='pokemon-release-button') Release
  div
    form(action='/fusion-pokemon' method='post') 
      input(type="hidden" name="_csrf" value=csrfToken)
      +createFormField('text','name','Name')
      label(for="description") Description
      textarea(name="description")
      div
        button Catch