extends ../layout.pug
include ../utils.pug

append head
    link(rel='stylesheet' href='/stylesheets/pokepages-edit.css')

block content
  div(class="container")
    div
        img(src= imgUrl)
    div
        h1= name
    div
        form(action= `/pokepages/edit/${pokemonId}`, method='post')
            label Update Description
            div
                input(type="hidden" name="_csrf" value=csrfToken)
                textarea(name="content" cols='25' rows='7')= currentDescription
                button(class='ji') Submit
