body {
    background-color: #eef2f5;
    font-family: 'Oswald', sans-serif;
    overflow: auto;
}

.error-alert {
    color: red;
    font-size: 10pt;
    margin-left: 10px;
}

.error-list {
    color: red;
    font-size: 10pt;
    margin-left: 50px;
}

.login-form label,
.login-form input,
.login-button,
.demo-button,
.login-form textarea {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.login-form label {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 10pt;
    letter-spacing: 1px;
}

.login-form input {
    background: #eef2f5;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #e6eaec, inset -6px -6px 6px white;
    transition: 0.7s;
    margin-top: 5px;
}

.login-button,
.demo-button {
    margin-top: 10px;
    background: #ffcc03;
    border: #386abb 3px solid;
    height: 50px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #e6eaec, -6px -6px 6px white;
    transition: 0.7s;
}

.login-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #eef2f5;
    box-shadow: 14px 14px 20px #e6eaec, -14px -14px 20px white;
}

.dugon-logo-login {
    height: 150px;
    width: 150px;
    /* background: url('https://cdn.discordapp.com/attachments/856636315927576608/859574573070680084/137.51.png'); */
    background: url('/assets/images/dugon.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #e6eaec, -7px -7px 10px white;
}

.pokeprobe-logo-small {
    position: relative;
    display: block;
    align-items: center;
    width: 200px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.dugon-slogan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    -webkit-text-fill-color: #ffcc03;
    -webkit-text-stroke-color: #386abb;
    -webkit-text-stroke-width: 2px;
    margin-bottom: 50px;
}