.container{
  width: 240px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

h1 {
  color: #3686C2; 
  font-size: 42.69pt;
  text-align: center;
}

label,
p{
  font-size: 16pt;

}

.submit-edit {
  border-radius: 100%;
  height: 50px;
  margin-top: 10px;
}