
body {
    font-family: 'Oswald', sans-serif;
}

.container {
    display: grid;
    width: 540px;
    grid-template-columns: 250px 250px ;
    grid-template-rows: 250px 20px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 69px
}

.fusion-img-container {
    width: 350px;
    height: 350px;
    display: grid;
    align-content: center;
}

.content-container {
    text-align: center;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #303f47, -6px -6px 6px white;
}

.nickname-container {
    text-align: center;
    margin-top: 10px;
}

.nickname {
    font-size: x-large;
}

.description-container {
    font-size: large;
    /* border-radius: 20px;
    box-shadow: 6px 6px 6px #667e8b, -6px -6px 6px white; */
}

h3, .description {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h3,.types-ul {
    font-size: large;
    font-weight: 500;
}

/* .types-ul {
    font-size: large;
    margin-bottom: 10px
} */

.types {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    display: inline-block;
    list-style-type: none;
    width: 30px;
}

.type {
    background-color: #ffcc03;
    border-radius: 50px;
    border: #386abb 3px solid;
    font-size: large;
}

ul img {
    max-height: 30px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin: auto;
    margin-top: 69px;   
}

.edit-button, .delete-button {
    font-size: large;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #667e8b, -6px -6px 6px white;
}