

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    display: grid;
    width: 540px;
    grid-template-columns: 250px 250px ;
    grid-template-rows: 250px 20px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.fusion-img-container {
    width: 350px;
    height: 350px;
    display: grid;
    align-content: center;
}

.nickname-container {
    text-align: center;
}
.nickname {
    font-size: large;
    border: #386abb 3px solid;
    background: #ffcc03 125px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #e6eaec, -6px -6px 6px white;
}
