extends ../layout.pug
include ../utils.pug

<<<<<<< HEAD:views/trainers/trainer-login.pug
append head
    link(rel='stylesheet' href='/stylesheets/login.css')
=======
append head 
    link(rel='stylesheet' href='/stylesheets/login-signup.css')
>>>>>>> michelle-local:views/trainer-login.pug

block content
    div(class="login-container")
      div(class="dugon-logo-login")
      <img src="https://media.discordapp.net/attachments/856636315927576608/858001199876669460/9f0b8f3078363686cd5625c722e5774e.png" class="pokeprobe-logo-small">
      div(class="dugon-slogan") Powered by Dugon
      +validationErrorSummary(errors)
      form(action="/trainers/login" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        +createFormField("email","email","Email")
        +createFormField("password","password","Password")
        button(class="login-button") Login
      form(action='/trainers/demo-login' method='post')
        button(type='submit' class="login-button") Demo User
